#yearInput {
    width: 10ch;
}

.hidden {
    display: none;
}

.holiday {
    border-top: solid brown 2px !important;
    /* position: absolute; */
    width: 100%;
    height: 5px;
    background-color: brown;
}

#holidays {
    max-height: 9em;
    overflow: auto;
}